.banner{
    background-image: url(../img/carrossel.jpg);
    background-size: cover;
    padding: 3rem;
}

.banner__titulo{
    font-family: var(--titulos);
    font-weight: 400;
    color: var(--cinza);
    font-size: 2rem;
    padding: 1rem 0;
    text-align: center;
}