.sobre{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sobre__imagem{
    padding: 1rem 0;

}

.sobre__titulo{
    color: var(--cinza);
    font-weight: 700;
    font-size: 2rem;
    padding: 0.5rem 0;
}

.sobre__texto{
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--cinza);
    line-height: 2rem;
}

.sobre__botao{
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 1rem 3rem;
    text-decoration: none;
    color: var(--branco);
    font-weight: 700;
    border-radius: 15px;
    background-color: var(--azul-escuro);
    box-shadow: 4px 4px 0px #444444;
}