@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Raleway:wght@500;700;800&display=swap');


@import url(principal.css);
@import url(cabecalho.css);
@import url(banner.css);
@import url(sobre.css);
@import url(lineup.css);
@import url(footer.css);

:root{
    --titulos:'Calistoga', cursive;
    --texto: 'Raleway', sans-serif;

    --gradiente-verão: linear-gradient(180deg, #BFDAE6 0%, #FCF0DD 50%, #FACF9D 100%);
    --azul-escuro: #2E7BA2;
    --azul-claro: #C8DEEF;
    --amarelo-claro:#FBF0DD;
    --amarelo: #FACF9D;
    --mostarda: #DF9010;
    --branco: #FFFFFF;
    --cinza: #444444;
    --cinza-escuro: #2e2d2d;
}

*{
    font-family: var(--texto);
}

body{
    background: var(--gradiente-verão);
}