.sobre{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sobre__imagem{
    padding: 1rem 0;

}

.sobre__titulo{
    font-weight: 700;
    font-size: 2rem;
    padding: 0.5rem 0;
}

@media (prefers-color-scheme: light){
    .sobre__titulo{
        color: var(--cinza);
    }
}

@media (prefers-color-scheme: dark){
    .sobre__titulo{
        color: var(--branco);
    }
}

.sobre__texto{
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--cinza);
    line-height: 2rem;
}

@media (prefers-color-scheme: light){
    .sobre__texto{
        color: var(--cinza);
    }
}

@media (prefers-color-scheme: dark){
    .sobre__texto{
        color: var(--branco);
    }
}

.sobre__botao{
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 1rem 3rem;
    text-decoration: none;
    color: var(--branco);
    font-weight: 700;
    border-radius: 15px;
    box-shadow: 4px 4px 0px #444444;
    margin: 0.5rem 0;
}

@media (prefers-color-scheme: light){
    .sobre__botao{
        background-color: var(--azul-escuro);
    }
}

@media (prefers-color-scheme: dark){
    .sobre__botao{
        background-color: var(--roxo-boreal);
    }
}

@media screen and (min-width: 1024px) {
    .sobre{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1.5rem 5rem;
    }

    .sobre__conteudo{
        margin: 0 2rem;
    }

    .sobre__texto{
        text-align: center;
    }
}